<div class="container  my-3 d-flex flex-column justify-content-center align-items-center">
    <div class="stroke ">Thanks for your SURVEY <i class="bi bi-emoji-smile-fill"></i></div>
  <!-- <div id="animation-demo" class="animated tada">
    You have successfully taken the survey
  </div> -->
  <div>
    <img class="" src="assets/img/survey-success.png" alt="" srcset="" style="height:400px;width:500px">
  </div>
  <div>
    <input type="button" class="btn btn-md btn-success1" value="Go to Home" routerLink=""/>
  </div>
</div>
