<app-admin-header></app-admin-header>
<div class="container">
  <div class="accordion" id="accordionExample">
    <div
      class="accordion-item"
      *ngFor="let item of surveyYearAndTitleList; let i = index"
    >
      <p class="accordion-header" id="headingOne">
        <button
        (click)="enableTab1(item.year)"
          class="accordion-button bg-warning text-dark"
          type="button btn-dark"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#collapse' + i"
          aria-expanded="true"
          [attr.aria-controls]="'collapse' + i"
        >
          {{ item.title }}
        </button>
      </p>
      <div
        [id]="'collapse' + i"
        class="accordion-collapse collapse"
        [ngClass]="{ show: i == 0 }"
        [attr.aria-labelledby]="'heading' + i"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
              #cycle1Tab
                class="nav-link active"
                id="cycle-1-tab"
                data-bs-toggle="pill"
                data-bs-target="#cycle-1"
                type="button"
                role="tab"
                aria-controls="cycle-1"
                aria-selected="true"
                (click)="getAllUserBasedOnCycleAndYear('cycle1', item.year)"
              >
                Cycle 1
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="cycle-2-tab"
                data-bs-toggle="pill"
                data-bs-target="#cycle-2"
                type="button"
                role="tab"
                aria-controls="cycle-2"
                aria-selected="false"
                (click)="getAllUserBasedOnCycleAndYear('cycle2', item.year)"
              >
                Cycle 2
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="both-tab"
                data-bs-toggle="pill"
                data-bs-target="#both"
                type="button"
                role="tab"
                aria-controls="both"
                aria-selected="false"
                (click)="getAllUserBasedOnCycleAndYear('both', item.year)"
              >
                Both
              </button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <!-- Cycle 1 Tab -->
            <div
              class="tab-pane fade show active"
              id="cycle-1"
              role="tabpanel"
              aria-labelledby="cycle-1-tab"
            >
              <div class="table-responsive">
                <table class="table table-hover table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Employee Code</th>
                      <th scope="col">Company</th>
                      <th scope="col">Manager</th>
                      <th scope="col">Month</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of userList; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        <a
                          href="javascript:void(0)"
                          (click)="navigateToUserSurvey(item)"
                          >{{ item.name }}</a
                        >
                      </td>
                      <td>
                        <a
                          href="javascript:void(0)"
                          (click)="navigateToUserSurvey(item)"
                          >{{ item.empCode }}</a
                        >
                      </td>
                      <td>
                        <a
                          href="javascript:void(0)"
                          (click)="navigateToUserSurvey(item)"
                          >{{ item.company }}</a
                        >
                      </td>
                      <td>
                        <a
                          href="javascript:void(0)"
                          (click)="navigateToUserSurvey(item)"
                          >{{ item.manager }}</a
                        >
                      </td>
                      <td>
                        <a
                          href="javascript:void(0)"
                          (click)="navigateToUserSurvey(item)"
                          >{{ item.month }}</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Cycle 2 Tab -->
            <div
              class="tab-pane fade"
              id="cycle-2"
              role="tabpanel"
              aria-labelledby="cycle-2-tab"
            >
              <div class="table-responsive">
                <table class="table table-hover table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Employee Code</th>
                      <th scope="col">Company</th>
                      <th scope="col">Manager</th>
                      <th scope="col">Month</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of userList; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        <a
                          href="javascript:void(0)"
                          (click)="navigateToUserSurvey(item)"
                          >{{ item.name }}</a
                        >
                      </td>
                      <td>
                        <a
                          href="javascript:void(0)"
                          (click)="navigateToUserSurvey(item)"
                          >{{ item.empCode }}</a
                        >
                      </td>
                      <td>
                        <a
                          href="javascript:void(0)"
                          (click)="navigateToUserSurvey(item)"
                          >{{ item.company }}</a
                        >
                      </td>
                      <td>
                        <a
                          href="javascript:void(0)"
                          (click)="navigateToUserSurvey(item)"
                          >{{ item.manager }}</a
                        >
                      </td>
                      <td>
                        <a
                          href="javascript:void(0)"
                          (click)="navigateToUserSurvey(item)"
                          >{{ item.month }}</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Both cycles tab -->
            <div
              class="tab-pane fade"
              id="both"
              role="tabpanel"
              aria-labelledby="both-tab"
            >
              <div class="table-responsive">
                <table class="table table-hover table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Employee Code</th>
                      <th scope="col">Company</th>
                      <th scope="col">Manager</th>
                      <th scope="col">Month</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of userList; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        <a
                          href="javascript:void(0)"
                          (click)="navigateToUserSurvey(item)"
                          >{{ item.name }}</a
                        >
                      </td>
                      <td>
                        <a
                          href="javascript:void(0)"
                          (click)="navigateToUserSurvey(item)"
                          >{{ item.empCode }}</a
                        >
                      </td>
                      <td>
                        <a
                          href="javascript:void(0)"
                          (click)="navigateToUserSurvey(item)"
                          >{{ item.company }}</a
                        >
                      </td>
                      <td>
                        <a
                          href="javascript:void(0)"
                          (click)="navigateToUserSurvey(item)"
                          >{{ item.manager }}</a
                        >
                      </td>
                      <td>
                        <a
                          href="javascript:void(0)"
                          (click)="navigateToUserSurvey(item)"
                          >{{ item.month }}</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
