<header class="p-1 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="javascript:void(0)" routerLink="/admin-dashboard" class="nav-link px-2 text-white">Dashboard</a></li>
        <li><a href="javascript:void(0)" routerLink="/survey-list" class="nav-link px-2 text-white">User's Survey</a></li>
      </ul>
      <div class="text-end">
        <button type="button" class="btn-sm bg-success1 btn-success1 me-2" routerLink="/admin-login">
          Logout
        </button>
      </div>
    </div>
  </div>
</header>
